@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.custom-focus:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 255, 1);
  /* fuchsia-500 color, this is better especially in dark mood. However, default green color is still in the inner circle */
}

/* .post-content p {
  margin-bottom: 0.5rem;
  color: black;
} */

.post-content a {
  color: white;
  background-color: #7e22ce;

  /* Fuchsia, #ff00ff, rgb(255, 0, 255) */
}

.post-content a:hover {
  text-decoration: underline;
  background-color: #a855f7;

  /* Purple, #800080, rgb(128, 0, 128) */

  color: white;
}

/* .dark .post-content a {
  color: red;
} */
